<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567814377809-8mc8r6dol6bju8qfnl6f0alc5792njaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567814377809-8mc8r6dol6bju8qfnl6f0alc5792njaf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>567814377809-cvas1tnolrik7jhrvalvlf9br3vgd1hr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzvjpD_MPU0gjbNlkeuYfGDrArPrHyVG8</string>
	<key>GCM_SENDER_ID</key>
	<string>567814377809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tory</string>
	<key>PROJECT_ID</key>
	<string>tory-74c72</string>
	<key>STORAGE_BUCKET</key>
	<string>tory-74c72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567814377809:ios:3361cc288293f642664370</string>
</dict>
</plist>